body {
    margin: 0;
  }
.field{
    max-width: 1200px;
    margin: 0 auto;
}
main {
    display: block;
  }


.bayan-item{
    margin-bottom: 30px;
}
.bayan-item_input{
    display:none;
}
.bayan-item_label{
    display: block;
    padding: 20px;
}
.header{
    padding: 0px;
    display: block;
}
.bayan-item_meme{
    text-align: center;
    display: none;
}
.bayan-item_meme img{
    height: auto;
    width: 40%;
    object-fit: contain;
    background-repeat: repeat;
}
.bayan-item:hover .bayan-item_meme,
.bayan-item input:checked + label .bayan-item_meme {
    display: block;
}
