body {
    font-family: Arial, sans-serif;
    font-weight: 900;
    color: rgb(37, 5, 10);
    margin: 0;
    background-color: rgba(212, 196, 121, 0.822);
}

.field{
    display: flex;
    justify-content: center;
}
main {
    display: block;
}

img {
    display: block;
    width: 60vw; 
    height: 30vh;
    
}

.bayan{
   max-width: 50em;
}
.bayan-item{
    padding: 1em;
    
    
}

.bayan-item_input{
    display:none;
}

.bayan-item_label{
    display: flex;
    flex-direction: column;
    border-bottom: solid;
    cursor: pointer;
}

.header{
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    color:blue;
}

.lable_name{
    display: flex;

}
.cross{
    display: flex;
    visibility: hidden;
    color: black;
    transition: all .3s;  
}

.bayan-item_meme{
    text-align: center;
    height: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    /*transition: all .35s ease; */
    justify-content: center;
    display: flex;
}

.bayan-item_meme img{
    object-fit: contain;
    background-repeat: repeat;
    display: flex;
}
@media (hover: hover) and (pointer: fine){

    .bayan:hover p.lable_name {
        color: black;
      }

    .bayan:hover .cross{    
        visibility: visible;
    }

    .bayan-item:hover .cross{
        transform:rotate(45deg);
    
    }
    .bayan:hover p.lable_name {
        color: black;
      }

      .bayan-item:hover .bayan-item_meme{
        transition: all .5s ease; 
        visibility: visible;
        height: auto;
        opacity: 100;

      }
}

@media screen and (max-width: 320px){
    .bayan{
        max-width: 80em;
    }
    img {
        width: 70vw;
        height: 20vh;
    }
}
    

.bayan-item input:checked + label  .bayan-item_meme {
    transition: all .5s ease; 
    visibility: visible;
    height: auto;
    opacity: 100;
}


.bayan-item input:checked + label .cross {
    transform:rotate(45deg);
 
}
.bayan-item input:checked ~ label p.lable_name {
    color: black; 
}




